@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
   
}
html{
    scroll-behavior: smooth;
}
/* nav bar styling */
#navlist{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.nav1 li{
    display: inline;
    padding: 10px;
    font-weight: 700;
    
}
.nav1{
    margin-top: 10px;
}
.logo h1{
    font-size: 25px;
    color: #55B167;
    margin-top: 5px;
}
.cart li{
    list-style: none;
  
}
/* hero section styling */
.discount{
    background-color: #55B167;
    width: 33%;
    border-radius: 2px;
}
.discount p{
    color: white;
    font-size: 10px;
    
    
    text-align: center;
    
}
.col-sm-6 img{
    height: 260px;
    border-radius: 50px 0px 50px;
    width: 320px;
}
#btn{
    height: 40px;
    width: 30%;
    background-color: #55B167;
    color: #fff;
    border-radius: 15px 0px 0px 0px;
    font-weight: 700;
    cursor: pointer;
}
#btn:hover{
    background-color: #EB9422;
    
}
#hero .row{
    margin-top: 50px;
}