@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
   
}
html{
    scroll-behavior: smooth;
}
/* nav bar styling */
#navlist{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.nav1 li{
    display: inline;
    padding: 10px;
    font-weight: 700;
    
}
.nav1{
    margin-top: 10px;
}
.logo h1{
    font-size: 25px;
    color: #55B167;
    margin-top: 5px;
}
.cart li{
    list-style: none;
  
}
/* hero section styling */
.discount{
    background-color: #55B167;
    width: 33%;
    border-radius: 2px;
}
.discount p{
    color: white;
    font-size: 10px;
    
    
    text-align: center;
    
}
.col-sm-6 img{
    height: 260px;
    border-radius: 50px 0px 50px;
    width: 320px;
}
#btn{
    height: 40px;
    width: 30%;
    background-color: #55B167;
    color: #fff;
    border-radius: 15px 0px 0px 0px;
    font-weight: 700;
    cursor: pointer;
}
#btn:hover{
    background-color: #EB9422;
    
    
}
#hero .row{
    margin-top: 50px;
}
/* about us section */
#aboutus{
    margin-top: 50px;
}
#aboutus img{
    height: 50px;
    width: 50px;
}
#aboutus h2{
    font-size: 15px;
    font-weight: 700;
}
#aboutus p{
    font-size: 10px;
}
#aboutus .col-6{
    display: flex;
}
#us{
    display: grid;
    place-content: center;
}
/* menu section */
#ourmenu .container{
    margin-top: 50px;
}
#couresl img{
    height: 200px;
    width: 4px;
    border-radius: 200px;
    border: 5px solid #55B167;


}
#couresl h5{
    color: #55B167;
    font-weight: 700;
}
#couresl p{
    color: #fff;
    font-weight: 700;
}
.heading{
    display: grid;
    place-content: center;
    text-align: center;
}
#crust img{
    width: 70%;
    height: 35vh;
    border-radius: 50%;
}
#topping img{
    width: 70%;
    height: 35vh;
    border-radius: 50%;
}
.all{
    margin-top: 15px;
    margin-left: 50px;
}
.all select{
    color: #55B167;
   
}
/* reservation section */
.items{
    display: flex;
    justify-content: space-between;
}
#book{
    display: grid;
    place-content: center;
    background-image: url("/assets/booksection.jpg");
    background-size: cover;
}
#book .card{
    background-color: transparent;
    color: #fff;
    font-weight: 700;
}
.resv{
    background-color: #55B167;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
